:root {
    --white: #ffffff;
    --grayWhite: #f6f9ff;
    --lightPurple: #E3D6FD;
    --primaryDark: #3831df;
    --primary: #6200EE;
    --rosino: #FFB399;
    --giallino: #FEDF97;
    --ocra:#FEB800;
}


html{
        box-sizing: border-box;
     overflow-x: hidden;


}

*, :after, :before {
    box-sizing: inherit;
}

@font-face {
  font-family: Circular;
  src: url(font/Circular/CircularXX-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Circular;
  src: url(font/Circular/CircularXX-Book.otf);
  font-weight: normal;
}

body {
        font-family: 'Circular', sans-serif;
        background-color: var(--lightPurple);
}

/* HEADER */

#header {
    padding: 1em 0em;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    background: #fefefe;
    z-index: 99999;
}
.logo img {
    width: 200%;
}
#nav {
    text-align: right;
}
#nav ul {
    list-style-type: none;
    margin-top: 1.5em;
}
#nav ul li {
    display: inline-block;
    margin-left: 2em;
}
#nav ul li a {

    font-weight: 800;
    color: var(--primary);
    
}

.button
    {  
    color:var(--white)!important;
    background-color:var(--primary);
    box-shadow:0 0 20px rgba(205,147,255,.3);
    margin:auto ;
    padding:14px 60px;
border-radius: 50px}
    
.slicknav_menu {
    display: none;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #nav ul {
        margin-top: 1em;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #nav ul {
        margin-top: 1em;
        margin-bottom: 0;
    }
        #nav ul {
        margin-top: 1em;
        margin-bottom: 0;
    }
    .logo img{
        width: 350%;
    }
     #nav ul li{
        margin-bottom: 1em;
    }
    
}

/* gestione del menu per mobile */

@media screen and (max-width: 768px) {
    #nav ul {
        display: none;
    }
    .slicknav_menu {
        display: block;
        background: #fefefe;
    }
    .slicknav_menu span.slicknav_menutxt {
        display: none;
    }
    .slicknav_menu .slicknav_icon {
        margin: 0.188em 0 0.188em 0;
    }
    .slicknav_brand span {
        color: var(--primary);
        margin-left: 0.5em;
        font-weight: lighter;
    }
    .slicknav_brand img {
        width: 60%;
    }
    .slicknav_nav a {
        text-decoration: none;
        color: var(--primary);
      
        font-weight: bold;
        font-size: 13px;
    }
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        padding: 12px 10px;
        margin: 2px 5px;
    }
}

/* Home */

#home {
    overflow: hidden;
    padding-top: 15vh;
    padding-bottom:10vh;
   
}

#phone{
/*	transform: translatey(0px);
	animation: float 2s ease-in-out infinite;*/
    width: 75vw;
    padding-bottom: 4vh;
	
}
#video{
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}

.claim{
   
    padding-bottom: 2vh;
    color:var(--primary);
    
}


.slogan{
    color:var(--primary);
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;
    font-size: 100%;
}

.carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





/* FEATURES */

#features{
    background-color: white;
}
.feature {
    text-align: center;
    margin-bottom: 2em;
}
.feature img {
    width: 100%;
}
.feature h2 {
    font-weight: bold;
    margin: 1em 0 0.7em 0;
   
    display: inline-block;
    padding: 0 2em 0 2em;
    font-size: 200%;
      color: var(--primary);

}
.feature p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
    color: var(--primary);
}





/* mission and vision */

.missionandvision {
    background-color: var(--giallino);
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

}
#mission {
  padding-top: 20vh;
}
.claim2{
   padding-top: 10vh;
    padding-bottom: 2vh;
    color:var(--primary);
    
}
/* Chi siamo */

.chisiamo {
    background-color: var(--rosino);
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 20vh;
    padding-bottom: 10vh;
    

}

.claim3{
   padding-top: 10vh;
    padding-bottom: 2vh;
    color:white;
    
    
}
#info{
    padding-top: 10vh;
    padding-bottom: 2vh;
    color:var(--primary);
    padding-right: 18vw;
    padding-left: 18vw;
}
.testoinfo{
     padding-top: 5vh;
     padding-bottom: 2vh;
    
}
.who{
    padding-top: 5vh;
    padding-bottom:5vh;
}
#info img{
    height: 30vh;
} 

.testimonianze{
    
    background-color:white;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
    
}
.testimonianze .row{
    padding-bottom: 5vh;
    padding-top: 5vh;
    align-content: center;
}
.cit{
    font-size: 2rem;
    padding-left: 2vw;
}



/*Esercenti*/

#esercenti{
    background-color: var(--giallino);
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 20vh;
    padding-bottom: 5vh;
}





.infoes{
    
    color: var(--ocra);
          text-align: center;
    margin-bottom: 2em;
  
}

.infoes h2 {
    font-weight: bold;
    margin: 1em 0 0.7em 0;
   
    display: inline-block;
    padding: 0 2em 0 2em;
    font-size: 200%;
      color: var(--ocra);

}
.infoes p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
    color: var(--ocra);
}

#esercentidesc{
    background-color: white;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
}


.infoes h2 {
    font-weight: bold;
    margin: 1em 0 0.7em 0;
   
    display: inline-block;
    padding: 0 2em 0 2em;
    font-size: 200%;
      color: var(--ocra);

}
.infoes p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
    color: var(--ocra);
}
.gifapp{
    width: 90vw; 
    padding-top: 5vh; 
    padding-bottom: 5vh;"
}
/* FOOTER */

#footer {
    padding-left: 10vw;
    padding-right: 10vw;
    background: var(--primary);
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
     color: white;

}
#footer ul {
    list-style-type: none;
    display: inline-block;
    margin-top: 1em;
    padding: 0;
    color: white;
}
#footer h4{
    font-weight: bold;
}

#footer div{
        max-width: 100%;
}
#footer a{
color: white;
}




/*

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
*/
